@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Welcome to Word Search Solver</h1>
    <p>Upload an image to get started.</p>
</div>

<form method="post" enctype="multipart/form-data">
    <div class="text-left">
        <input required type="file" accept=".jpg" asp-for="Upload" />
        <br />
        <a style="color:red">@Model.ErrorMessage</a>
        <br />
        <p>(OPTIONAL)</p>
        <p>Upload an answer image.</p>
        <input type="file" accept=".jpg" asp-for="UploadAns" />
        <br />
        <a style="color:red">@Model.ErrorMessage</a>
        <br />
        <input type="submit" value="Upload" />
    </div>
</form>



<script>

</script>


