@page
@model WordSearchSolver.Pages.SolverModel
@{
    ViewData["Title"] = "Solver";
}

<div class="text-left">
    <h1 class="display-4">Word Search Solver</h1>
    <p>@Puzzle.imagePath</p>
    <p>@Puzzle.imageType</p>
    <p>@Puzzle.text</p>
    <img src="@Puzzle.imagePath"/>
</div>
